<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Account">
    <insert id="insertAccount" parameterType="map">
        <selectKey keyProperty="ACCOUNT_SEQ" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO ACCOUNT_TB (
            PROFIT_COST, BIG_GROUP, MIDDLE_GROUP, SMALL_GROUP, DETAIL_GROUP,
            COMMENTS, TRANSACTION_MONEY, TRANSACTION_DATE, WRITER, REG_DATE
        ) VALUES (
            #{profitCost}, #{bigGroup}, #{middleGroup}, #{smallGroup}, #{detailGroup},
            #{comments}, #{transactionMoney}, #{transactionDate}, #{writer}, NOW()
        )
    </insert>

    <!-- 단건 조회 -->
    <select id="selectAccount" parameterType="map" resultType="egovMap">
        SELECT ACCOUNT_SEQ, PROFIT_COST, BIG_GROUP, MIDDLE_GROUP,
            SMALL_GROUP, DETAIL_GROUP, COMMENTS, TRANSACTION_MONEY,
            DATE_FORMAT(TRANSACTION_DATE, '%Y-%m-%d') AS TRANSACTION_DATE,
            WRITER, REG_DATE
        FROM ACCOUNT_TB
        WHERE ACCOUNT_SEQ = #{seq}
    </select>

    <!-- 목록 조회, 뷰 테이블 사용 -->
    <select id="selectAccountList" resultType="egovMap">
        SELECT
            ACCOUNT_SEQ,
            PROFIT_COST, PROFIT_COST_NM,
            BIG_GROUP, BIG_GROUP_NM,
            MIDDLE_GROUP, MIDDLE_GROUP_NM,
            SMALL_GROUP, SMALL_GROUP_NM,
            DETAIL_GROUP, DETAIL_GROUP_NM,
            COMMENTS,
            TRANSACTION_MONEY,
            WRITER,
            REG_DATE
        FROM VW_ACCOUNT_TB
        ORDER BY ACCOUNT_SEQ DESC
    </select>

    <!-- 수정 -->
    <update id="updateAccount" parameterType="map">
        UPDATE ACCOUNT_TB SET
            PROFIT_COST = #{profitCost},
            BIG_GROUP = #{bigGroup},
            MIDDLE_GROUP = #{middleGroup},
            SMALL_GROUP = #{smallGroup},
            DETAIL_GROUP = #{detailGroup},
            COMMENTS = #{comments},
            TRANSACTION_MONEY = #{transactionMoney},
            TRANSACTION_DATE = #{transactionDate}
        WHERE ACCOUNT_SEQ = #{seq}
    </update>
</mapper>
